body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #1b1327;
}

/*============= LANDING PAGE =============*/
header{margin-top: 30px;margin-bottom: 10px;}
a {color: var(--cyan);}
.nav {
  margin-top: 5px;
  position: absolute;
  left: 0px;
  height: 25px;

  width: 100%;
  display: flex;
  justify-content: center;
}
.cent{margin-left: auto; margin-right: auto;width: 100%;}
.nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.menu li{float: left;margin-right:20px; margin-top: 5px;}
.menu ul{float: inline-start;text-align: center;}
/*-- Landing Page Caption --*/


/*-- Dark Mode Switch --*/


particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}



li {
  padding: 5px;
  margin: 5px;
  align-self: center;
}
/*============= MEDIA QUERIES =============*/

/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin: 0;
  color: #635274;
  background-color: #d0e0eb;
  font: 1.5rem/1 'Roboto', sans-serif;
}

.wrapper {
  padding: 20px 40px;
  border-radius: 15px;

}

h1 {
  margin: 0;
  font-size: 2.25rem;
  line-height: 1;
}

.widget-wrapper {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 20px;
  text-align: center;
  counter-reset: sum; /* sum starts at 0 */
}

.digit, .decimal-output {
  padding: 10px;
  border: 3px dashed #88abc2;
  border-radius: 3px;
  color: #2bd6d6d3;

  font-size: 2.5rem;
}

.label {
  align-self: end;
}

.digit-4 { --increment: 8; }
.digit-3 { --increment: 4; }
.digit-2 { --increment: 2; }
.digit-1 { --increment: 1; }

.digit::before {
  content: '0'; /* content needs an initial value for animation to work */
  animation: flip-digit step-end infinite;
  animation-duration: calc(var(--increment) * 2s);
}

@keyframes flip-digit {
  50% {
    content: '1';
    counter-increment: sum var(--increment);
  }
}

.equals {
  align-self: center;
  font-size: 3rem;
}

/* display sum, which now has all the increments made by the binary digits */
.decimal-output::before {
  content: counter(sum);
}

/* decrease a bunch of font sizes and padding on smaller screens */
@media (max-width: 540px) {
  body {
    font-size: 1.25rem;
  }
  
  .wrapper {
    padding: 10px;
  }
  
  h1 {
    font-size: 1.75rem;
  }

  .widget-wrapper {
    column-gap: 10px;
    margin-top: 15px;
  }
  
  .digit, .decimal-output {
    padding: 5px;
    font-size: 2.25rem;
  }
}


/*-- INCLUDED STYLE --*/

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*-- Dark Mode Switch --*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
}
input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}